<div id="kt_app_sidebar_menu_scroll" class="scroll-y my-5 mx-3" data-kt-scroll="true" data-kt-scroll-activate="true" data-kt-scroll-height="auto" data-kt-scroll-dependencies="#kt_app_sidebar_logo, #kt_app_sidebar_footer" data-kt-scroll-wrappers="#kt_app_sidebar_menu" data-kt-scroll-offset="5px" data-kt-scroll-save-state="true">
  <div class="menu menu-column menu-rounded menu-sub-indention fw-semibold fs-6" id="#kt_app_sidebar_menu" data-kt-menu="true" data-kt-menu-expand="false">
    <!-- Dashboard -->
    <div class="menu-item">
      <a class="menu-link without-sub" routerLink="/dashboard" routerLinkActive="active">
        <span class="menu-icon">
          <app-keenicon name="element-11" class="fs-2"></app-keenicon>
        </span>
        <span class="menu-title" translate="MENU.DASHBOARD"></span>
      </a>
    </div>

    @if (selectedEndpoint) {
      @if (['remote_docker', 'local_docker'].includes(selectedEndpoint.connectionType)) {
        <div class="menu-item">
          <div class="menu-content pt-8 pb-2">
            <span class="menu-section text-muted text-uppercase fs-8 ls-1">{{ selectedEndpoint.name }}</span>
          </div>
        </div>
        <div class="menu-item">
          <a class="menu-link without-sub" [routerLink]="'/endpoints/' + selectedEndpoint.id + '/docker/dashboard'" routerLinkActive="active">
            <span class="menu-icon">
              <app-keenicon name="element-11" class="fs-2"></app-keenicon>
            </span>
            <span class="menu-title">Dashboard</span>
          </a>
        </div>
        <div class="menu-item">
          <a class="menu-link without-sub" [routerLink]="'/endpoints/' + selectedEndpoint.id + '/docker/containers'" routerLinkActive="active">
            <span class="menu-icon fas fa-cubes"></span>
            <span class="menu-title">Containers</span>
          </a>
        </div>
        <div class="menu-item">
          <a class="menu-link without-sub" [routerLink]="'/endpoints/' + selectedEndpoint.id + '/docker/images'" routerLinkActive="active">
            <span class="menu-icon fas fa-copy"></span>
            <span class="menu-title">Images</span>
          </a>
        </div>
        <div class="menu-item">
          <a class="menu-link without-sub" [routerLink]="'/endpoints/' + selectedEndpoint.id + '/docker/networks'" routerLinkActive="active">
            <span class="menu-icon fas fa-sitemap"></span>
            <span class="menu-title">Networks</span>
          </a>
        </div>
      }
    }

    <!-- Separator -->
    <div class="menu-item">
      <div class="menu-content pt-8 pb-2">
        <span class="menu-section text-muted text-uppercase fs-8 ls-1">Settings</span>
      </div>
    </div>

    <div class="menu-item">
      <a class="menu-link without-sub" routerLink="/users" routerLinkActive="active">
        <span class="menu-icon fas fa-users"></span>
        <span class="menu-title">Users</span>
      </a>
    </div>
    <div class="menu-item">
      <a class="menu-link without-sub" routerLink="/endpoints" routerLinkActive="active">
        <span class="menu-icon fas fa-server"></span>
        <span class="menu-title">Endpoints</span>
      </a>
    </div>
    <div class="menu-item">
      <a class="menu-link without-sub" routerLink="/settings" routerLinkActive="active">
        <span class="menu-icon fas fa-cog"></span>
        <span class="menu-title">Settings</span>
      </a>
    </div>
</div>
