<div class="card">
  <div class="card-header border-0 pt-6">
    <div class="card-title">
      <div class="d-flex align-items-center position-relative my-1">
        <app-keenicon
          name="magnifier"
          class="fs-3 position-absolute ms-5"></app-keenicon>
        <input
          type="text"
          data-action="filter"
          class="form-control form-control-solid w-250px ps-12"
          placeholder="Search Users" />
      </div>
    </div>
    <div class="card-toolbar">
      <div class="d-flex justify-content-end">
        <button type="button" class="btn btn-primary" data-action="create">
          Create
        </button>
      </div>
    </div>
  </div>
  <div class="card-body pt-0">
    <app-crud
      [datatableConfig]="datatableConfig"
      route="/endpoints"
      (deleteEvent)="delete($event)"
      (editEvent)="edit($event)"
      [reload]="reloadEvent"></app-crud>
  </div>
</div>

<ng-template #formModal let-modal>
  <form>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">User Details</h4>
      <button
        type="button"
        class="btn-close"
        aria-label="Close"
        (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
      <div
        class="d-flex flex-column scroll-y me-n7 pe-7 mw-650px"
        id="kt_modal_update_customer_scroll"
        data-kt-scroll="true"
        data-kt-scroll-activate="{default: false, lg: true}"
        data-kt-scroll-max-height="auto"
        data-kt-scroll-dependencies="#kt_modal_update_customer_header"
        data-kt-scroll-wrappers="#kt_modal_update_customer_scroll"
        data-kt-scroll-offset="300px">
        <div
          class="notice d-flex bg-light-primary rounded border-primary border border-dashed mb-9 p-6">
          <app-keenicon
            name="information"
            class="fs-2tx text-primary me-4"></app-keenicon>
          <div class="d-flex flex-stack flex-grow-1">
            <div class="fw-semibold">
              <div class="fs-6 text-gray-700">
                Updating customer details will receive a privacy audit. For more
                info, please read our
                <a href="#">Privacy Policy</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer flex-center">
      <!--begin::Button-->
      <button
        type="reset"
        id="kt_modal_update_customer_cancel"
        class="btn btn-light me-3"
        (click)="modal.dismiss('cancel')">
        Discard
      </button>
      <!--end::Button-->

      <!--begin::Button-->
      <button
        type="submit"
        id="kt_modal_update_customer_submit"
        class="btn btn-primary"
        [attr.data-kt-indicator]="isLoading ? 'on' : 'off'">
        <span class="indicator-label"> Submit </span>
        <span class="indicator-progress">
          Please wait...
          <span
            class="spinner-border spinner-border-sm align-middle ms-2"></span>
        </span>
      </button>
      <!--end::Button-->
    </div>
  </form>
</ng-template>
